@import './style.scss';

header{
    position: sticky;
    top: 0;
    
    .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        
        
        p{
            font-family: 'Open Sans', sans-serif;
            font-size:16px;
            
            span{
                @include fonts(800,22px,normal);
    
                &:nth-of-type(2){
                    @include fonts(normal,18px,normal);
                }
            }
        }
    
        [data-menu="button"]{
            display: flex;
            background: black;
            border: none;
            padding: 20px 15px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            align-items: center;
            position: relative;
    
            &::before{
                content: '';
                display: inline-block;
                height: 2px;
                width: 13px;
                background: white;
                box-shadow: 0 4px white, 0 -4px white;
            }
        }
    }
}
