@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 20px;
  height: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}
header .header-top p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 32px;
  margin-left: 20px;
}
header .header-top p span {
  font-weight: 600;
  font-size: 22px;
  color: white;
}
header .header-top p span:nth-of-type(2) {
  font-weight: normal;
  font-size: 18px;
  color: white;
}
header .header-top [data-menu=button] {
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 20px 15px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  align-items: center;
  position: relative;
  margin-top: 28px;
  margin-right: 24px;
}
header .header-top [data-menu=button]::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 13px;
  background: white;
  box-shadow: 0 4px white, 0 -4px white;
}
header .header-top [data-menu=button]:focus {
  outline: none;
}
header .header-top [data-menu=button]:hover {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
}

.part-one {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-image: url(../../assets/IMG/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  filter: brightness(60%);
  z-index: 2;
}
.part-one h1 {
  padding-top: 25rem;
  font-size: 7.5em;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Lobster", cursive;
  margin-bottom: 0.25em;
  color: white;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
  filter: brightness(100%);
}
.part-one .seta {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 20px 15px;
  border-radius: 50%;
  color: white;
}

/*# sourceMappingURL=page.css.map */
